<div id='MemoriaSetEquip'>

	<div id='setListWrap' class="commonFrame1">
		<h2>装備したいセットを選んでください</h2>
		<div id='scrollOuter'>
			<div id='scrollInner' class='scrollInner'>
			</div>
		</div>
	</div>
</div>

<script type='text/template' id='memoriaSetListTemp'>
	<div class='nameWrap<%="<% if(model.rental) { %\>"%> rental<%="<% } %\>"%>'>
		<div class='setNum ts_gold'>#<%="<%= model.setNumDisp %\>"%></div>
		<div class='name ts_gold'><%="<%= model.name %\>"%></div>
		<%="<% if(!model.rental) { %\>"%><!-- レンタルなら名前変更しない -->
		<div class='nameChangeBtn TE se_decide'></div>
		<%="<% } %\>"%>
	</div>

	<div class='memoriaWrap'>
		<%="<% var i = 0; %\>"%>
		<%="<% while(i < 4) { %\>"%>
			<%="<% if(model.pieceArr[i]) { %\>"%>
				<%="<% var pieceId = model.pieceArr[i].pieceId; %\>"%>
				<%="<% var level   = model.pieceArr[i].level; %\>"%>
				<%="<% var maxLevel = model.pieceArr[i].maxLevel; %\>"%>

				<%="<% var pieceClass = ''; %\>"%>
				<%="<% if (model.pieceArr[i].eventEffect) pieceClass += ' effective'; %\>"%>
				<%="<% if (model.isRegularEventDeck && model.pieceArr[i].regularEventEffect) pieceClass += ' regularEffective'; %\>"%>
				<div class='memoria equip <%="<%= pieceClass %\>"%>
					<%="<%= (model.pieceArr[i].invalidFlag) ? ' '+model.pieceArr[i].invalidFlag : '' %\>"%>'
					data-framenum='<%="<%= i %\>"%>'>
					<span class='eventEffect'></span>
					<span class="lv">Lv <%="<%= level %\>"%>/<%="<%= maxLevel %\>"%></span>
					<img class='memoriaImg' src='/magica/resource/image_web/memoria/memoria_<%="<%= pieceId %\>"%>_s.png' alt=''>
				</div>
			<%="<% } else { %\>"%>
				<div class='memoria' data-framenum='<%="<%= i %\>"%>'></div>
			<%="<% } %\>"%>

			<%="<% i=(i+1)|0; %\>"%>
		<%="<% } %\>"%>
	</div>

	<div class='equipMemoriaStatus'>
		<div class='dtElm'>HP</div>
		<div class='hp ddElm'>
			<%="<%= (model.hp > 0) ? '+' + model.hp : (model.pieceArr.length) ? '+0' : '' %\>"%>
		</div>
		<div class='dtElm'>ATK</div>
		<div class='atk ddElm'>
			<%="<%= (model.attack > 0) ? '+' + model.attack : (model.pieceArr.length) ? '+0' : '' %\>"%>
		</div>
		<div class='dtElm'>DEF</div>
		<div class='def ddElm'>
			<%="<%= (model.defense > 0) ? '+' + model.defense : (model.pieceArr.length) ? '+0' : '' %\>"%>
		</div>
	</div>

	<%="<% if(model.pieceArr.length) { %\>"%>
		<div class='memoriaSetEquipBtn btn TE se_decide b_pink'>装備</div>
	<%="<% } %\>"%>

	<%="<% if(!model.rental) { %\>"%><!-- レンタルならセット登録しない -->
	<div class='memoriaSetBtn btn TE se_decide b_purple'>セット登録</div>
	<%="<% } %\>"%>
</script>

<!-- メモリア装備詳細 -->
<script type='text/template' id='EquipDetail'>
	<div class='nameWrap'>
		<div class='attribute'><div class='<%="<%= model.charaAtt %\>"%> type_f'></div></div>
		<p class='name ts_pink'>
			<%="<%= model.charaName %\>"%>
			<span class='title ts_pink'><%="<%= model.charaTitle %\>"%></span>
		</p>
	</div>

	<div class='setCaution'>現在の装備をセット登録</div>

	<div class="memoriaWrap">
		<%="<% var addHp  = 0; %\>"%>
		<%="<% var addAtk = 0; %\>"%>
		<%="<% var addDef = 0; %\>"%>

		<%="<% var canEquipNum = 1 + model.revision; %\>"%>
		<%="<% var i = 0; %\>"%>
		<%="<% while(i < 4) { %\>"%>
			<%="<% if(model.pieceArr[i]) { %\>"%>
				<%="<% addHp  += model.pieceArr[i].hp; %\>"%>
				<%="<% addAtk += model.pieceArr[i].attack; %\>"%>
				<%="<% addDef += model.pieceArr[i].defense; %\>"%>
			<%="<% } %\>"%>

			<%="<% if(model.pieceArr[i]) { %\>"%>
				<%="<% var pieceId = model.pieceArr[i].pieceId; %\>"%>
				<%="<% var level   = model.pieceArr[i].level; %\>"%>
				<%="<% var maxLevel = model.pieceArr[i].maxLevel; %\>"%>

				<%="<% var pieceClass = ''; %\>"%>
				<%="<% if (model.pieceArr[i].eventEffect) pieceClass += ' effective'; %\>"%>
				<%="<% if (model.isRegularEventDeck && model.pieceArr[i].regularEventEffect) pieceClass += ' regularEffective'; %\>"%>
				<div class='memoria equip <%="<%= pieceClass %\>"%>
					<%="<%= (model.pieceArr[i].invalidFlag) ? ' '+model.pieceArr[i].invalidFlag : '' %\>"%>' data-framenum='<%="<%= i %\>"%>'>
					<span class='eventEffect'></span>
					<span class="lv">Lv <%="<%= level %\>"%>/<%="<%= maxLevel %\>"%></span>

					<div class='overWrap'></div>
					<img class='memoriaImg' src='/magica/resource/image_web/memoria/memoria_<%="<%= pieceId %\>"%>_s.png' alt=''>
				</div>
			<%="<% } else { %\>"%>
				<%="<% if(canEquipNum > 0) { %\>"%>
					<div class='memoria canSet' data-framenum='<%="<%= i %\>"%>'>
						<div class='overWrap'></div>
					</div>
				<%="<% } else { %\>"%>
					<div class='memoria' data-framenum='<%="<%= i %\>"%>'></div>
				<%="<% } %\>"%>
			<%="<% } %\>"%>

			<%="<% canEquipNum-- %\>"%>
			<%="<% i=(i+1)|0; %\>"%>
		<%="<% } %\>"%>
	</div>

	<div class='equipMemoriaStatus'>
		<div class='dtElm'>HP</div>
		<div class='hp ddElm'>+<%="<%= addHp %\>"%></div>
		<div class='dtElm'>ATK</div>
		<div class='atk ddElm'>+<%="<%= addAtk %\>"%></div>
		<div class='dtElm'>DEF</div>
		<div class='def ddElm'>+<%="<%= addDef %\>"%></div>
	</div>

	<div id='mainBtn' class='se_decide TE'></div>
</script>

<script type="text/template" id="SetNameChangeTemp">
	<div class="popupInner">
		<span class="closeDefault se_cancel popupCloseBtn TE"></span>
		<p id="popupInfoDetailTitle" class="popupTitle">メモリアセット名入力</p>

		<div class="popupTextArea">
			<p class='text'>メモリアセット名を入力してください</p>

			<div class="inputWrap">
				<input id="commentInput" class='commonInput' readonly="readonly" value='<%="<%= model.name %\>"%>' maxlength="50" />

				<div id='defaultNameBtn' class='sb_gold_02 TE se_tabs'>デフォルト名</div>
				<p class="commentNotis c_red">絵文字は使用できません</p>
				<div></div>
				<div class="textCount c_gold"><span id="textCount" class="c_gold"><%="<%= model.name.length %\>"%></span>/15</div>
				<div class="btn b_pink se_decide TE" id="commentDecide"><span class="b_screen"></span>OK</div>
			</div>
		</div>
	</div>
</script>
