<% if(model.card) { %>
	<span id="detailBtn" class="TE"><span class="b_screen"></span></span>
	<span id="attribute"><span class='type_f <%= model.card.attributeId %>'></span></span>

	<span id="rare" class='<%= model.card.rank %>'>
		<% var i = 0; %>
		<% var maxRare = model.maxRare || Number(model.card.rank.split('RANK_')[1]); %>
		<% while(i < maxRare) { %>
			<span></span>
		<% 	i=(i+1)|0; %>
		<% } %>
	</span>

	<div id="name">
		<p class="c_purple"><%= _.escape(model.card.cardName) %></p>
		<% if(model.chara.title) { %>
		<p class='title c_purple'>
			<%= model.chara.title %>
		</p>
		<% } %>
	</div>

	<p id="lv">
		<span>Lv</span>
		<span class="before">
			<span id="currentLv" class="c_purple"><%= model.level %></span>
			<span class="sla">/</span>
			<span id="currentMaxLv" class="small"><%= model.maxLevel %></span>
		</span>
		<span class="arrow hide"></span>
		<span class="after hide">
			<span id="afterLv" class="c_red"></span>
			<span class="sla">/</span>
			<span id="afterMaxLv" class="small"><%= model.maxLevel %></span>
		</span>
		<span class='lvMaxFlag'></span>
	</p>

	<div class="expGaugeWrap">
		<div class="expGaugeInner" style='width:<%= model.expRatio %>%'></div>
		<div class="expGaugeInner2" style='width:0%;'></div>

		<div class="bg"></div>
	</div>
	<div class="status">
		<ul class="statusList">
			<li>
				<span class="thStyle">HP</span>
				<span class="tdStyle"><%= model.hp %></span>
				<% if(model.addendHp || (model.composeAttribute && model.composeAttribute.composed.HP > 0)){ %>
					<span class="tdStyle c_pink">(+<%= model.addendHp + model.composeAttribute.composed.HP %>)</span>
				<% } %>
			</li>
			<li><span class="thStyle">ATK</span>
				<span class="tdStyle"><%= model.attack %></span>
				<% if(model.addendAttack || (model.composeAttribute && model.composeAttribute.composed.ATTACK > 0)){ %>
					<span class="tdStyle c_pink">(+<%= model.addendAttack + model.composeAttribute.composed.ATTACK %>)</span>
				<% } %>
			</li>
			<li>
				<span class="thStyle">DEF</span>
				<span class="tdStyle"><%= model.defense %></span>
				<% if(model.addendDefense || (model.composeAttribute && model.composeAttribute.composed.DEFENSE > 0)){ %>
					<span class="tdStyle c_pink">(+<%= model.addendDefense + model.composeAttribute.composed.DEFENSE %>)</span>
				<% } %>
			</li>
		</ul>
	</div>

	<div class="revisionWrap flexBox">
		<p class="c_gold title">魔力解放 </p><p class="num"><%= model.revision %></p>
		<ul class="flexBox revisionIcon">
			<% var i = 0;%>
			<% var RevisionMax = 3;%>

			<% var onNum = model.revision;%>
			<% var noneNum = RevisionMax - onNum;%>

			<% while(i < onNum) {%>
				<li class="on"/>
				<% i=(i+1)|0; %>
			<% } %>

			<% i = 0;%>
			<% while(i < noneNum) {%>
				<li class=""/>
				<% i=(i+1)|0; %>
			<% } %>
		</ul>
	</div>

	<div class="episodeLvWrap flexBox">
		<p class="c_gold title">エピソードLv </p><p id="episodeLv" class="num"><%= model.episodeLevel %></p>
		<% if(model.episodeLevel < 5) { %>
		<div class="bondsTotalPt c_gold">あと<%= model.epExpRequire %></div>
		<% } else { %>
		<span class='episodeLvMaxFlag'></span>
		<% } %>
	</div>

	<div class="expGaugeWrap episode">
		<div class="expGaugeInner3" style='width:<%= model.epExpRatio %>%'></div>
		<div class="expGaugeInner4" style='width:0%;'></div>
		<div class="bg"></div>
	</div>

	<div class="equipWrap flexBox">
		<p class="c_gold title">メモリア枠</p>

		<div class="flexBox before ">
			<% i = 0; %>
			<% while(i < (model.revision + 1)) { %>
				<span class="icon"></span>
			<% 	i=(i+1)|0; %>
			<% } %>

		</div>
		<div class="flexBox after ">
			<span class="icon on"></span>
		</div>
	</div>

	<div class="magiaLvWrap flexBox">
		<p class="c_gold title">マギアLv </p><p class="num"><%= model.magiaLevel %></p>
		<ul class="flexBox magiaLvIcon">
			<% i = 0;%>
			<% var MagiaLevelMax = 5;%>

			<% onNum = model.magiaLevel;%>
			<% var offNum = model.episodeLevel - model.magiaLevel;%>
			<% noneNum = MagiaLevelMax - (onNum + offNum);%>

			<% while(i < onNum) {%>
				<li class="on"/>
				<% i=(i+1)|0; %>
			<% } %>

			<% i = 0;%>
			<% while(i < offNum) {%>
				<li class="off"/>
				<% i=(i+1)|0; %>
			<% } %>

			<% i = 0;%>
			<% while(i < noneNum) {%>
				<li class="none"/>
				<% i=(i+1)|0; %>
			<% } %>
		</ul>
	</div>
<% } %>
