<div class="popupInner">
	<span class="closeDefault se_cancel popupCloseBtn TE"></span>
	<p id="popupInfoDetailTitle" class="popupTitle common_title">マギア強化素材確認</p>

	<div class="popupTextArea">

		<div class="popupGiftWrap">
			<p class="numWrap c_white"><span class="hasNum <%= (model.canSet) ? 'ts_pink' : 'ts_gold' %>"><%= model.hasNum %></span><span class="sla ts_gold">/</span><span class="needNum ts_gold"><%= model.needNum %></span></p>
			<img data-nativeimgkey='gift_a_<%= model.giftId %>' data-src='resource/image_native/gift/item_gift_a_<%= model.giftId %>.png' class="giftImg">
		</div>
		<p class='giftName'><%= model.gift.name %></p>
	</div>
	<table class="popupBtnArea" width="400" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><span class="shopBtn se_decide btn TE b_pink linkBtn" data-href="#/ShopTop/72">
					<span class="b_screen"></span>ショップへ</td>
			<td><span class="questSearchBtn se_decide btn TE b_pink" data-giftid="<%= model.giftId %>">
				<span class="b_screen"></span>入手方法
			</td>
		</tr>
	</table>
</div>