<dl class="common_dl typeTitle">
	<dt><%= model.composeTypeText %></dt>
	<dd><%= model.composedValue %>/<%= model.composeAllValue %></dd>
</dl>
<div id="<%= model.composeType %>ListSec" class="itemListSec"></div>