#EventWalpurgisQuestResultSubBoss {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 300px 0 0 0;
}

#EventWalpurgisQuestResultSubBoss #touchScreen {
  display: none;
  position: fixed;
  width: 1024px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9;
}

#EventWalpurgisQuestResultSubBoss #touchScreen.on {
  display: block;
}

#EventWalpurgisQuestResultSubBoss .mainWrap {
  width: 1090px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap {
  width: 1090px;
  height: 576px;
  position: absolute;
  top: -webkit-calc(50% - 288px);
  left: 0;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap .rippleObj_1 {
  position: fixed;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/efe_result_circle01.png") left top no-repeat;
  width: 756px;
  height: 756px;
  -webkit-transform: scale(0);
  -webkit-animation: rippleObjScaleAnimation 1.3s linear 0.666s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap .rippleObj_1.rotate {
  opacity: 1;
  -webkit-animation: rippleObjRotateAnimation 5s linear 0s infinite normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap .rippleObj_2 {
  position: fixed;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/efe_result_circle02.png") left top no-repeat;
  width: 558px;
  height: 558px;
  -webkit-transform: scale(0);
  -webkit-animation: rippleObjScaleAnimation2 1.3s linear 0.866s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap .rippleObj_2.rotate {
  opacity: 0;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap .rippleObj_3 {
  position: fixed;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/efe_result_circle03.png") left top no-repeat;
  width: 340px;
  height: 339px;
  -webkit-transform: scale(0);
  -webkit-animation: rippleObjScaleAnimation2 1.3s linear 1.066s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rippleObjWrap .rippleObj_3.rotate {
  opacity: 0;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultTitleWrap {
  position: absolute;
  width: 100%;
  top: 90px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultTitleWrap .resultTitle {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/text_battle_title.png") left top no-repeat;
  width: 182px;
  height: 33px;
  left: 420px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
  -webkit-animation: resultTitleAnimation 1.0s ease 2.066s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultTitleWrap .resultTitleBase {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/efe_title.png") left top no-repeat;
  width: 618px;
  height: 62px;
  top: -15px;
  left: 230px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  opacity: 1;
  -webkit-transform: scaleY(0);
  -webkit-animation: resultTitleBaseAnimation 1.4s ease 1.666s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultTitleWrap .resultTitleDecoLeft {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/icon_boss_title.png") no-repeat;
  width: 41px;
  height: 29px;
  top: 0px;
  left: 320px;
  scale: 1;
  opacity: 0;
  -webkit-animation: resultTitleDecoAnimation 1.2s ease 2.666s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultTitleWrap .resultTitleDecoRight {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/icon_boss_title.png") no-repeat;
  width: 41px;
  height: 29px;
  top: 1px;
  right: 390px;
  scale: 1;
  opacity: 0;
  rotate: 180deg;
  -webkit-animation: resultTitleDecoAnimation 1.2s ease 2.666s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultStringWrap {
  position: absolute;
  width: 100%;
  top: -80px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultStringWrap .resultString {
  position: relative;
  width: 107px;
  height: 96px;
  top: 200px;
  margin: 0 auto;
  opacity: 1;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultStringWrap .resultString.CLEAR {
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/text_clear.png") left top no-repeat;
  width: 442px;
  position: absolute;
  left: 310px;
  opacity: 0;
  -webkit-animation: resultStringFinishAnimation 1.0s ease 3.066s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .resultStringWrap .resultStringAdd {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/text_clear_efe.png") left top no-repeat;
  height: 92px;
  width: 442px;
  top: 200px;
  left: 310px;
  z-index: 2;
  opacity: 0;
  -webkit-animation: resultStringFinishAddAnimation 0.666s ease-in-out 3.486s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPBase {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/bg_reward_dp.png") left top no-repeat;
  background-size: contain;
  background-position: center;
  width: 760px;
  height: 82px;
  top: 251px;
  left: 140px;
  opacity: 0;
  -webkit-animation: rewardBaseAnimation 0.6s ease-in-out 4.066s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPBeforeBase {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/bg_dptitle_01.png") left top no-repeat;
  width: 110px;
  height: 27px;
  top: 280px;
  left: 170px;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.466s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPBeforeText {
  position: absolute;
  top: 282px;
  left: 200px;
  color: #ffff;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.466s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPBeforeNum {
  position: absolute;
  width: 130px;
  height: 27px;
  top: 282px;
  left: 310px;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.466s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPBeforeNum .rewardBeforeCommaImg {
  margin-left: -3px;
  margin-right: -8px;
  padding-bottom: 5px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPBeforeNum .rewardBeforeNumImg {
  margin: 0 -3px;
  padding-bottom: 5px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPArrow {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/icon_arrow.png") left top no-repeat;
  width: 110px;
  height: 142px;
  top: 275px;
  left: 500px;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.666s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPAfterBase {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/bg_dptitle_02.png") left top no-repeat;
  width: 115px;
  height: 27px;
  top: 280px;
  left: 560px;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.866s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPAfterText {
  position: absolute;
  top: 282px;
  left: 590px;
  color: #ffff;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.866s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPAfterNum {
  position: absolute;
  width: 130px;
  height: 27px;
  top: 282px;
  left: 700px;
  opacity: 0;
  -webkit-animation: rewardFadeAnimation 0.466s ease-in-out 4.866s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPAfterNum .rewardAfterCommaImg {
  margin-left: -3px;
  margin-right: -8px;
  padding-bottom: 5px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardDPWrap .rewardDPAfterNum .rewardAfterNumImg {
  margin: 0 -3px;
  padding-bottom: 5px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap {
  left: 290px;
  position: absolute;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 760px;
  height: 120px;
  top: 320px;
  left: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox {
  display: inline-block;
  position: absolute;
  width: 271px;
  left: 0px;
  margin: 0px -45px;
  text-align: center;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox .rewardItemBaseRhombus {
  display: inline-block;
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/bg_reward_item.png") left top no-repeat;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 40px;
  opacity: 0;
  -webkit-animation: rewardItemBaseRhombusAnimation 0.833s ease 5.266s 1 normal;
  -webkit-animation-fill-mode: both;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox .rewardItemBaseCircle {
  display: inline-block;
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/efe_reward_item.png") left top no-repeat;
  width: 190px;
  height: 190px;
  top: 5px;
  left: 45px;
  opacity: 0;
  -webkit-animation: rewardItemBaseCircleAnimation 0.333s ease 5.466s 1 normal;
  -webkit-animation-fill-mode: both;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox .rewardItemTitle {
  display: inline-block;
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/text_reward.png") left top no-repeat;
  width: 76px;
  height: 69px;
  top: 45px;
  left: 100px;
  z-index: 2;
  opacity: 0;
  -webkit-animation: rewardItemContentAnimation 0.633s ease 5.666s 1 normal;
  -webkit-animation-fill-mode: both;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox .rewardItemContent {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 105px;
  height: 105px;
  top: 55px;
  left: 85px;
  z-index: 1;
  opacity: 0;
  -webkit-animation: rewardItemContentAnimation 0.633s ease 5.866s 1 normal;
  -webkit-animation-fill-mode: both;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox .rewardItemContent img {
  width: 88px;
}

#EventWalpurgisQuestResultSubBoss .mainWrap .flowWrap .rewardItemWrap .rewardItemInner .rewardItemBox .rewardItemContent .rewardItemNum {
  position: absolute;
  right: 0px;
  bottom: 5px;
  display: block;
  font-size: 24px;
}

#EventWalpurgisQuestResultSubBoss .touch_screen {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/touch.png") left top no-repeat;
  width: 240px;
  height: 27px;
  bottom: 30px;
  left: 400px;
  opacity: 0;
  -webkit-animation: touchScreen 0.666s ease 6.266s infinite normal;
}

#EventWalpurgisQuestResultSubBoss #retryBtn {
  position: absolute;
  background: url("/magica/resource/image_web/event/eventWalpurgis/result/_anime/retry.png") left top no-repeat;
  width: 240px;
  height: 57px;
  bottom: 30px;
  left: 860px;
  opacity: 0;
  z-index: 10;
  -webkit-animation: retryBtnAnimation 0.866s ease-in-out 6.266s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#EventWalpurgisQuestResultSubBoss #retryBtn.noRetry {
  display: none;
}

@-webkit-keyframes rippleObjScaleAnimation {
  0% {
    -webkit-transform: rotate(0) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes rippleObjScaleAnimation2 {
  0% {
    -webkit-transform: rotate(0) scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes rippleObjRotateAnimation {
  0% {
    -webkit-transform: rotate(0) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.7);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes resultTitleAnimation {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-webkit-keyframes resultTitleBaseAnimation {
  0% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@-webkit-keyframes resultTitleDecoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes resultStringFinishAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes resultStringFinishAddAnimation {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes rewardBaseAnimation {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    opacity: 1;
  }
}

@-webkit-keyframes rewardFadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rewardItemBaseRhombusAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes rewardItemBaseCircleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes rewardItemContentAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes retryBtnAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes touchScreen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
